@import "tailwindcss";

@theme inline {
	--color-black: #0e0e0e;
}

@layer utilities {
	.input {
		@apply border-b border-black/10 pb-1 outline-none
	}

	.pointer {
		@apply cursor-pointer
	}
}

.white-shadow {
	box-shadow: 0 0 7px rgba(255, 255, 255, 0.15)
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
	width: 0
}
